html
    head
        meta(charset='utf-8')
        meta(
            name='viewport'
            content='width=device-width, initial-scale=1.0'
        )
        meta(
            http-equiv='X-UA-Compatible'
            content="ie=edge"
        )
        link(
            rel='stylesheet'
            href='css/mustard-ui.min.css'
        )
        link(
            rel='stylesheet'
            href='css/style.css'
        )
        script(
            src="https://kit.fontawesome.com/d480c868c5.js" 
            crossorigin="anonymous"
        )
        title Just Coffee
    body