<!DOCTYPE html>
<html>
<head>
    <title>Список пользователей</title>
    <meta charset="utf-8" />
</head>
<body>
    <h1>Список пользователей</h1>
    <p><a href="/createw">Добавить пользователя</a></p>
    <table>
        <tr><th>Имя</th><th>Email</th><th>Номер телефона</th><th>Должность</th></tr>
        {{#each workers}}
            <tr>
                <td>{{this.fullname}}</td>
                <td>{{this.email}}</td>
                <td>{{this.phonenumber}}</td>
                <td>{{this.position}}</td>
                <td>
                    <a href="/editw/{{this.id}}">Редактировать</a>|
                    <form action="delete/{{this.id}}" method="POST" style="display:inline;">
                        <input type="submit" value="Delete" />
                    </form>
                </td>
            </tr>
        {{/each}}
    </table>
</body>
<html>