<!DOCTYPE html>
<html>
<head>
    <title>Список филиалов</title>
    <meta charset="utf-8" />
</head>
<body>
    <h1>Список филиалов</h1>
    <p><a href="/createb">Добавить филиал</a></p>
    <table>
        <tr><th>Название</th><th>id Менеджера</th><th>Адрес</th></tr>
        {{#each branches}}
            <tr>
                <td>{{this.name}}</td>
                <td>{{this.managerid}}</td>
                <td>{{this.address}}</td>
                <td>
                    <a href="/editb/{{this.id}}">Редактировать</a>|
                    <form action="delete/{{this.id}}" method="POST" style="display:inline;">
                        <input type="submit" value="Delete" />
                    </form>
                </td>
            </tr>
        {{/each}}
    </table>
</body>
<html>