div(
    class='site-nav button-primary'
)
    div(class='close-button-div')
        button(class='button-primary-oulined close-nav') x
    h3
        a(
            href="/coffee"
        ) Меню
    h3
        a(
            href="/login"
        ) Админ-панель
    h3(class='cart-header') Корзина
    div(id='cart-nav')
    div(class='text-right')
        a(
            href='/order'
            target='_blank'
        )
            button(class='button-primary-oulined') Заказ